/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notebook-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  .breadcrumb-row {
    display: flex;
    align-items: center;

    .back-button {
      display: flex;
      align-items: center;
      margin-right: 5px;

      .mat-icon {
        color: #0d5407;
        cursor: pointer;
      }
    }

    .breadcrumb-label {
      color: #0d5407;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      cursor: pointer;
    }
  }
}
